name: deploy-book

# Only run this when the master branch changes
on:
  push:
    branches:
    - master
    # If your git repository has the Jupyter Book within some-subfolder next to
    # unrelated files, you can make this run only if a file within that specific
    # folder has been modified.
    #
    # 
    paths:
    - libro_optimizacion/temas/**

# This job installs dependencies, build the book, and pushes it to `gh-pages`
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7

    # Build the book
    - name: Build the book
      run: cd libro_optimizacion/temas && mkdir _build && chmod gou+wrx -R _build && docker run -v $(pwd):/datos --entrypoint "/home/miuser/.local/bin/jb" --rm palmoreck/jupyterlab_opt_c_r_kernel_tidyverse:2.1.4 build /datos/

    # Push the book's HTML to github-pages
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3.6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: libro_optimizacion/temas/_build/html

